In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

import math as m


account = pd.read_csv("../../data/raw/account.csv", sep=";")
card = pd.read_csv("../../data/raw/card_dev.csv", sep=";")
client = pd.read_csv("../../data/raw/client.csv", sep=";")
disposition = pd.read_csv("../../data/raw/disp.csv", sep=";")
demograph = pd.read_csv("../../data/raw/district.csv",sep=";")
loan = pd.read_csv("../../data/raw/loan_dev.csv", sep=";")
transactions = pd.read_csv("../../data/raw/trans_dev.csv",sep=";", low_memory=False)

# Date Format

In [2]:
account['date'] = pd.to_datetime(account['date'], format = '%y%m%d', errors='coerce');
account.head()

   account_id  district_id         frequency       date
0         576           55  monthly issuance 1993-01-01
1        3818           74  monthly issuance 1993-01-01
2         704           55  monthly issuance 1993-01-01
3        2378           16  monthly issuance 1993-01-01
4        2632           24  monthly issuance 1993-01-02

In [47]:
card['date'] = pd.to_datetime(card['issued'], format = '%y%m%d', errors='coerce');
card.head()

   card_id  disp_id     type  issued       date
0     1005     9285  classic  931107 1993-11-07
1      104      588  classic  940119 1994-01-19
2      747     4915  classic  940205 1994-02-05
3       70      439  classic  940208 1994-02-08
4      577     3687  classic  940215 1994-02-15

# Clean column names

In [3]:
demograph.rename(columns = {'code ':'code', 'name ':'name', 
                            'no. of municipalities with inhabitants < 499 ': 'no of municipalities with inhabitants < 499',
                            'no. of municipalities with inhabitants 2000-9999 ': 'no. of municipalities with inhabitants 2000-9999', 
                            'no. of municipalities with inhabitants >10000 ': 'no. of municipalities with inhabitants >10000',
                            'no. of cities ':'no. of cities', 'ratio of urban inhabitants ':'ratio of urban inhabitants',
                            'average salary ':'average salary', "unemploymant rate '95 ": "unemploymant rate 95",
                            "unemploymant rate '96 ": "unemploymant rate 96 ", 
                            'no. of enterpreneurs per 1000 inhabitants ':'no. of enterpreneurs per 1000 inhabitants', 
                            "no. of commited crimes '95 ":"no. of commited crimes 95",
                           "no. of commited crimes '96 ": "no. of commited crimes 96"}, inplace = True)

demograph.head()

,code,name,region,no. of inhabitants,no of municipalities with inhabitants < 499,no. of municipalities with inhabitants 500-1999,no. of municipalities with inhabitants 2000-9999,no. of municipalities with inhabitants >10000,no. of cities,ratio of urban inhabitants,average salary,unemploymant rate 95,unemploymant rate 96,no. of enterpreneurs per 1000 inhabitants,no. of commited crimes 95,no. of commited crimes 96
0,1,Hl.m. Praha,Prague,1204953,0,0,0,1,1,100.0,12541,0.29,0.43,167,85677,99107
1,2,Benesov,central Bohemia,88884,80,26,6,2,5,46.7,8507,1.67,1.85,132,2159,2674
2,3,Beroun,central Bohemia,75232,55,26,4,1,5,41.7,8980,1.95,2.21,111,2824,2813
3,4,Kladno,central Bohemia,149893,63,29,6,2,6,67.4,9753,4.64,5.05,109,5244,5892
4,5,Kolin,central Bohemia,95616,65,30,4,1,6,51.4,9307,3.85,4.43,118,2616,3040

# Clean Null values

In [4]:
demograph.dtypes

code                                                  int64
name                                                 object
region                                               object
no. of inhabitants                                    int64
no of municipalities with inhabitants < 499           int64
no. of municipalities with inhabitants 500-1999       int64
no. of municipalities with inhabitants 2000-9999      int64
no. of municipalities with inhabitants >10000         int64
no. of cities                                         int64
ratio of urban inhabitants                          float64
average salary                                        int64
unemploymant rate 95                                 object
unemploymant rate 96                                float64
no. of enterpreneurs per 1000 inhabitants             int64
no. of commited crimes 95                            object
no. of commited crimes 96                             int64
dtype: object

In [17]:
demograph[["unemploymant rate 95", "no. of commited crimes 95"]] = demograph[["unemploymant rate 95", "no. of commited crimes 95"]].apply(pd.to_numeric, errors='coerce', axis=1)
demograph['no. of commited crimes 95'] = demograph['no. of commited crimes 95'].apply(lambda x: int(x))
#demograph[["no. of commited crimes 95"]] = demograph[["no. of commited crimes 95"]].apply(pd.to_numeric, errors='coerce', downcast='signed', axis=1)

demograph.dtypes

ValueError: cannot convert float NaN to integer